<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="UTF-8"> 
	<title>My Website - About</title> 
	<link rel="stylesheet" href="{{ url_for('static',  filename='css/app.css') }}" /> 
	<img src="{{ url_for('static', filename='cross of Jesus.jpg') }}" 
	alt="Jesus"
	width="200"
	height="200">

</head> 
<body> 
	<h1>Thorn Brooks</h1> 
	<p> Jesus is the centre of my life and just as how He saved me, He can save you too. He is all sufficient and He has kept me through the darkest times of my life. Choose Jesus!</p> </body> 
</html> 
